/******
RESET
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main .container-fluid {
    max-width: 1300px;   
}

main .table-fluid {
    margin-left: 300px;
    margin-right: 300px;
    width: 1270px;

}

